<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>
<link th:fragment="mainCss" rel="stylesheet" th:href="@{/css/main.css}"/>
<!-- fragmento de menú -->
<div th:fragment="mainMenu">
    <nav>
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/welcome}">Welcome</a></li>
            <li><a th:href="@{/mvc}">MVC</a></li>
            <li><a th:href="@{/properties}">Properties</a></li>
            <!-- más enlaces -->
        </ul>
    </nav>
</div>

</body>
</html>
