<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>
<link th:fragment="bootstrapCss" th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css} "/>
<link th:fragment="mainCss" rel="stylesheet" th:href="@{/css/main.css}"/>
<!-- fragmento de menú -->
<div th:fragment="mainMenu">
    <nav>
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/welcome}">Welcome</a></li>
            <li><a th:href="@{/mvc}">MVC</a></li>
            <li><a th:href="@{/properties}">Properties</a></li>
            <li><a th:href="@{/path/27}">Params</a></li>
            <li><a th:href="@{/form}">Form </a></li>
            <li><a th:href="@{/formulario}">Formulario </a></li>
            <!-- más enlaces -->
        </ul>
    </nav>
</div>
<script th:fragment="bootstrapJS" type="text/javascript" th:src="@{webjars/bootstrap/5.3.5/js/bootstrap.min.js}"></script>
</body>
</html>
